{% extends 'quotes/base_add_data.html' %}
{% load static %}
{% block content %}

<body class="popup app-quotes model-quote change-form" data-admin-utc-offset="0">
    <!-- Container -->
    <div id="container">
        <div class="main" id="main">
            <main id="content-start" class="content" tabindex="-1">
                <!-- Content -->
                <div id="content" class="colM">
                    <h1>Add quote</h1>
                    <div id="content-main">
                        <form method="post" id="quote_form" novalidate="">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="submit-row">
                                <input type="submit" value="Save" class="default" name="save">
                                <input type="submit" value="Cancel" class="default" name="cancel">
                            </div>
                        </form>
                    </div>
                    <br class="clear">
                </div>
                <!-- END Content -->
                <div id="footer"></div>
            </main>
        </div>
    </div>
    <!-- END Container -->
</body>
{% endblock %}

</html>